* { box-sizing: border-box; }
body {
	font-family: Arial;
	margin: 0;
}

#bodyWrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	padding: 0.5vh;
}

.box {
	margin: 0.5vh;
	font-size: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	border-radius: 1vw;
	border-color: black;
	border-style: solid;
	background-color: grey;
	overflow: hidden;
}

.pictureBox {
	max-width: 100%;
	max-height: 100%;
	border-radius: 1vw;
}

.infoBox {
	height: 9vh;
	flex-grow: 1;
}

#titleWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-grow: 1;
	height: 100%;
	max-height: 10vh;
	padding: 0.5vh;
}

.score {
	width: 9vh;
	height: 9vh;
}

#footerWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-grow: 1;
	height: 100%;
	max-height: 10vh;
	padding: 0.5vh;
}

.footerBox {
	width: 9vh;
	height: 9vh;
}

#fourBoxWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	flex-grow: 1;
	height: 100%;
	max-height: 16.5vw;
}

#fourBoxTimerWrapper {
	margin: 0.5vh;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-grow: 1;
	height: 100%;
	max-height: 2.75vw;
	
}

.fourBoxTimer {
	height: 100%;
	aspect-ratio: 8;
	font-size: 2vw;
}

#fourBoxBoxWrapper {
	margin: 0.5vh;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-grow: 1;
	height: 100%;
	max-height: 11vw;
}

.fourBox {
	height: 100%;
	aspect-ratio: 2;
	max-width: 22vw;
	flex-grow: 1;
}

#sixBoxWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
	max-height: 70vh;
}

.sixBoxThreeWrapper {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 1vh;
	margin-bottom: 1vh;
	height: 100%;
	max-height: 20vw;
}

.threeBox {
	height: 100%;
	aspect-ratio: 1;
}

#connectionWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
	max-height: 56vh;
	padding: 0.5vh;
}

.connectionFourWrapper {
	display: flex;
	justify-content: center;
	position: relative;
	height: 100%;
	max-height: 14vh;
	padding: 0.5vh;
}

#connectionLives {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 0.5vh;
	font-size: 8vh;
	color: red;
	font-weight: bold;
	height: 10vh;
}

#bigTimer {
	height: 5vh;
}

#vowelBox {
	flex-grow: 1;
	max-height: 20vh;
}